html, body {
height: 100%;
margin: 0;
}

body {
display: flex;
justify-content: center;
align-items: center;
background-image:url('./Images/Nature_5.jpg');
background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.new-font {
font-family: 'Roboto', sans-serif;
line-height: 20px;
font-size: 40px;
font-weight: bold;
text-transform: uppercase;
color: #4CAF50;
letter-spacing: 0px;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.submit{
display: inline-block;
width: 420px;
background-color: #4CAF50;
border: none;
color: white;
padding: 15px 170px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
font-weight:bold;
margin-top: 10px;
cursor: pointer;
border-radius: 5px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
}

.close-button{
display: inline-block;
width: 420px;
background-color: #ff605c;
border: none;
color: white;
padding: 15px 170px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
font-weight:bold;
margin-top: 10px;
cursor: pointer;
border-radius: 5px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
}

.submit:hover{
background-color: #3e8e41;
box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
transform: translateY(-2px);
}

.close-button:hover{
background-color: #fd4b48;
box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
transform: translateY(-2px);
}   

.label {
color: #080000;
background-color: white;
padding: 8px 10px;
border-radius: 5px;
font-size: 15px;
font-weight: bold;
margin-top: 10px;
letter-spacing: 1px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
transition: all 0.2s ease-in-out;
display: inline-block;
width: 150px;
text-align: left;
}

.label:hover {
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

input[type="text"], input[type="password"]{
font-size: 16px;
padding: 8px;
padding-right: 40px;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
background-color: #f2f2f2;
color: #333;
margin-top: 3px;
}

input[type="text"]:focus, input[type="password"]:focus {
outline: none;
border-color: #2196F3;
box-shadow: 2px 2px 5px rgba(33, 150, 243, 0.3);
}

.content {
background: white;
padding: 15px;
border-radius: 18px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.897);
}
